.hall-details-form-container {
    
    max-width: 400px;
    margin: 25px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgb(245, 245, 245,0.75);
  }
  
  .hallinput-container {
   width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .inputfields-container{
   
    margin:5px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .buttons-container {
    display: flex;
    align-items: center;
    /* background-color: #dddddd30; */
    justify-content: center;
    margin-top: 20px;
  }
  
  
  .savehall-button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    margin:20px;
  }
  
  .cancelhall-button {
    padding: 10px;
    background-color: #6a6161;
    margin:20px;
    
  }
  .hallicon-container{
    
    margin-bottom: 80px;
  display: flex;
margin-left: 1200px;

  }
  .halldetailsheading{
    color:#490375;
    background-color: white;
    padding:5px;
    border-radius: 5px;
  font-family: serif;

  }
  .logo{
    height:50px;
    width:100px;
  }
  
  
  