/* ForgotPassword.css */
.passwordreset-container{

    margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("./images/login-background.jpg"); /* Adjust the path to your background image */
  background-size: cover;
  background-repeat: no-repeat;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
   


    
    

}



.forgot-password-container {
    background-color: rgb(118, 163, 163,0.75);
    

    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .input-container {
    margin-bottom: 15px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
  }
  
  p a {
    text-decoration: underline;
    color: #1b1f1b;
    cursor: pointer;
}




  button {
    background-color: #0e36a5;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .success-message {
    color: #4caf50;
  }
  
  .error-message {
    color: #9d0707;
  }
  
  .login-text {
   

    margin-top: 20px;
  }
  .forgotpassword-heading{
    color:#490375;
  font-family: serif;

  }

  .forgotpasswordicon-container{
    margin-top: 100px;
    display: flex;
  margin-left: 1000px;
  
  }
  .logo{
    height:50px;
    width:100px;
  }