.home-container {
  margin: 0;
  padding: 0;
  
  background-image: url("./images/home-background.jpeg"); /* Adjust the path to your background image */
  background-size: cover;
  background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .header {
    background-color: #5F9EA0; /* Adjust the background color as needed */
    color: white;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 40px; /* Adjust the logo size as needed */
    margin-right: 8px;
  }
  
  .company-name {
    margin: 0;
    color:#490375;
  }
  
  .icon-bar {
    display: flex;
    cursor: pointer;
  position: relative; 
  margin:10px;
  /* align-items: flex-start;  */
  
  }
  
  
  
  .main-container {
    flex: 1;
    padding: 16px;
  }
  
  .footer {
    background-color: #5F9EA0; /* Adjust the background color as needed */
    color: white;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-icons {
    display: flex;
  }
  
  .icon {
    width: 30px; 
    margin-right: 16px; 
  }  


    .dropdown {
      position: absolute;
      top: 100%;
      left: 0;
      width: 200px;
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border: 1px solid #ccc;
      z-index: 1;
      border-radius: 10px;
      margin-top: 5px; /* Remove default margin-top */
    }
    
  
  
  .dropdown p {
    padding: 10px;
    margin: 0;
    cursor: pointer;
    color: #333;
    transition: background-color 0.3s;
  }
  
  .dropdown p:hover {
    background-color: #f4f4f4;
  }
  .homeicon-container{
    margin-top: 80px;
    margin-bottom: 80px;
  display: flex;
margin-left: 1200px;

  }

  