
/* .body{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("./images/login-background.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;

} */

.login-container {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("./images/login-background.jpg"); /* Adjust the path to your background image */
  background-size: cover;
  background-repeat: no-repeat;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .login-form {
    background-color: rgb(118, 163, 163,0.75);
    width: 300px;
    padding: 20px;
    border-style: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(248, 246, 250, 0.977);
  }
  
  .input-container {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #4dcd1e;
    border-radius: 3px;
  }
  
  .forgot-password {
    margin-bottom: 15px;
    text-align: center;
  }
  
  a {
    text-decoration: underline;
    color: #1a1717;
    cursor: pointer;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color:#0e36a5;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-button span {
    margin-right: 5px;
  }
   

  .symbol-button {
    width: 100%;
    padding: 10px;
    background-color:#0e36a5;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:5px;
  } 
  
  .regbutton-container {
    display: flex;
    background-color:#0e36a5;
    border-radius: 3px;
    border-style: none;
    color:#fff;
    cursor: pointer;
    justify-content: space-between;
    margin-top: 5px;
    padding: 10px;
}
.heading{
  color:#490375;
  font-family: serif;
}
.icon-container{
  margin-top: 100px;
  display: flex;
margin-left: 1000px;

}