.functions-container{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(245, 245, 245,0.75);
}
.functionsinput-container{
    width:100%;
    
}

.functionsbuttons-container{
    display: flex;
    
    align-items: center;
    /* background-color: #dddddd30; */
    justify-content: center;
    margin:50px;
}
.functioncancel-button{
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    margin:20px;
}
.functionsave-button{
    padding: 10px;
    background-color: #6b5d5d;
    margin:20px;

}
.functionsicon-container{
    
    margin-bottom: 80px;
  display: flex;
margin-left: 1200px;

  }
  .functions-heading{
    color:#490375;
    background-color: white;
    padding:5px;
    border-radius: 5px;
  font-family: serif;
  }
  